@use "sass:map";
@use '../variables' as vars;
@use "../fonts";

.custom-podcast-player {
  font-family: vars.$font-family-regular;
  background-color: map.get(vars.$colors, light-grey);
}

.podcast-player .panels .chaptermarks ul li.active,
.podcast-player .panels .playlist ul li.active,
.podcast-player .panels .transcript .transcript-text li.active 
.podcast-player .footer button,
.podcast-player .footer button:hover,
.podcast-player .footer button:active,
.podcast-player .footer button:focus,
.podcast-player .footer button.subscribe-button,
.podcast-player .footer button.subscribe-button:hover,
.podcast-player .footer button.subscribe-button:active,
.podcast-player .footer button.subscribe-button:focus,
.podcast-player .controls-advanced button,
.podcast-player .controls-advanced button:hover,
.podcast-player .controls-advanced button:active,
.podcast-player .controls-advanced button:focus,
.podcast-player .progress-bar-played,
.podcast-player .buttons button,
.podcast-player .buttons button:hover,
.podcast-player .buttons button:active,
.podcast-player .buttons button:focus,
.podcast-player .buttons button.button-active,
.podcast-player .buttons button.button-active,
.podcast-player .progress-bar .progress-bar-time-played:hover,
.podcast-player .progress-bar .progress-bar-time-played:active,
.podcast-player .progress-bar .progress-bar-time-played:focus,
.podcast-player .episode-basic-info .episode-title,
.podcast-player .episode-basic-info .episode-title a,
.podcast-player .episode-basic-info .episode-title a:hover,
.podcast-player .episode-basic-info .episode-title a:active,
.podcast-player .episode-basic-info .episode-title a:focus,
.podcast-player a,
.podcast-player a:hover, 
.podcast-player a:active, 
.podcast-player a:focus, 
.podcast-player .episode-basic-info .episode-title:hover, 
.podcast-player .episode-basic-info .episode-title:active, 
.podcast-player .episode-basic-info .episode-title:focus, 
.podcast-player .episode-title a:hover {
  color: map.get(vars.$colors, cc-red);
}

.podcast-player .footer button.subscribe-button,
.podcast-player .footer button.subscribe-button:hover,
.podcast-player .footer button.subscribe-button:active,
.podcast-player .footer button.subscribe-button:focus,
.podcast-player .footer button,
.podcast-player .footer button:hover,
.podcast-player .footer button:active,
.podcast-player .footer button:focus {
  border-color: map.get(vars.$colors, cc-red);
}

.podcast-player,
.podcast-player .panels,
.podcast-player .episode-basic-info .episode-subtitle {
  color: map.get(vars.$colors, black);
}

.podcast-player .progress-bar-buffering,
.podcast-player .progress-bar-played {
  background-color: map.get(vars.$colors, cc-red);
}

.podcast-player .progress-bar-buffering {
  &,
  &:after {
    background-color: map.get(vars.$colors, dark-grey);
  }
  &:after {
    border-radius: 0;
    background-image: linear-gradient(-45deg, 
      rgba(map.get(vars.$colors, cc-red), 1) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(map.get(vars.$colors, cc-red), 1) 50%, 
      rgba(map.get(vars.$colors, cc-red), 1) 75%, 
      transparent 75%, 
      transparent
    );
  }
}

.podcast-player .progress-bar .progress-bar-rail,
.podcast-player .progress-bar-loaded {
  background-color: map.get(vars.$colors, lighter-grey);
}

.podcast-player .panels .chaptermarks ul li.active,
.podcast-player .panels .playlist ul li.active {
  background-color: map.get(vars.$colors, dark-grey);
}

.podcast-player .panels .chaptermarks ul li + li,
.podcast-player .panels .playlist ul li + li {
  border-color: map.get(vars.$colors, dark-grey);
}

.podcast-player .panels .chaptermarks ul li:hover,
.podcast-player .panels .playlist ul li:hover,
.podcast-player .panels .chaptermarks ul li.active,
.podcast-player .panels .playlist ul li.active {
  background-color: rgba(map.get(vars.$colors, dark-grey), 0.5);
}

.podcast-player .panels .chaptermarks ul li a svg,
.podcast-player .panels .playlist ul li a svg {
  color: map.get(vars.$colors, dark-grey);
}

.podcast-player .panels .episode-info {
  .episode-title {
    font-family: vars.$font-family-semi-bold;
    font-size: 18px;
    line-height: 22px;
  }
  .episode-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .episode-description {
    font-family: vars.$font-family-lora;
    font-size: 14px;
    line-height: 1.43;
  }
}

.podcast-player .progress-bar .progress-bar-rail {
  min-height: 10px !important;
}

.podcast-player {
  a.podcast-list-link {
    float: right;
    margin-top: 70px;
  }
}