$theme-path: "https://www.cicero.de/themes/custom/cicero";
$font-family-regular: "Poppins-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-semi-bold: "Poppins-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;

$colors: (
  cc-red: #a0223b,
  dark-grey: #8c8c8c,
  light-grey: #f2f2f2
)